.sidebar {
  width: 220px;
  background: #fff;
  min-height: 100vh;
  padding: 30px 20px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  font-family: 'Georgia', serif;
  position: sticky;
  top: 0;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 1px;
  color: #111;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #191818;
  padding: 10px 12px;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}
.sidebar-item a:hover {
  background: #000;
  color: #fff;
}

/* make sure icon also turns white */
.sidebar-item a:hover .icon {
  color: #fff;
}

/* .sidebar-item a:hover {
  background: #f0f0f0;
  color: #111;
}

.sidebar-item.active a {
  background: #e0e0e0;
  font-weight: bold;
  color: #111;
} */

.icon {
  font-size: 20px;
}
